.error {
  background-color: IndianRed;
  position: fixed;
  width: 100%;
  box-shadow: 3px 3px 3px 3px white;
  opacity: 0.9;
  padding-top: 10px;
  padding-right: 5px;
  margin-top: 60px;
  font-weight: bolder;
}

.success {
  background-color: Green;
  position: fixed;
  width: 100%;
  border-color: DarkGreen;
  opacity: 0.7;
  box-shadow: 0 3px 3px 0 white;
  padding-top: 10px;
  padding-right: 5px;
  margin-top: 60px;
  font-weight: bolder;
  color: white;
}

.error button {
  opacity: .9;
  float: right;
  background-color: DarkRed;
  border: none;
}

.success button {
  background-color: DarkGreen;
  opacity: .9;
  float: right;
  border: none;
}
