.userBooks {
  /* background-image: url('../../images/Background.jpg'); */
  background-color: Linen;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}

.userBooks > h1 {
  padding-top: 30px;
  text-shadow: 2px 2px white;
  color: black;
}

.userBooks h6 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.white {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: IndianRed;
  font-weight: 300;
  opacity: 0.9;
  padding: 60px;
  text-shadow: 05.px 0.5px black;
}

/* @media only screen and (max-width: 450px) {
  .userBooks > h1 {
    padding-top: 10px;
  }
} */
